name: Backend Chat CI/CD

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  cd:
    runs-on: ubuntu-latest
    needs: ci

    steps:
      - uses: actions/checkout@v1
      - name: Docker login
        run: docker login -u ${{ secrets.DOCKER_ID }} -p ${{ secrets.DOCKER_TOKEN }} ${{ secrets.DOCKER_HOST }}
      - name: Build
        run: docker build -t taling/colossus .
      - name: Tags
        run: |
          docker tag taling/colossus ${{ secrets.DOCKER_HOST }}/taling/colossus:${{ github.sha }}
          docker tag taling/colossus ${{ secrets.DOCKER_HOST }}/taling/colossus:latest
      - name: Push
        run: |
          docker push ${{ secrets.DOCKER_HOST }}/taling/colossus:${{ github.sha }}
          docker push ${{ secrets.DOCKER_HOST }}/taling/colossus:latest
